body {
  color: white;
  background-color: rgb(51, 60, 163);
  font-size: 25px;
  font-family: Times, "Times New Roman", Georgia, serif;

}

.timer-wrapper {
  border: 7px solid #13353a;
  margin: -2px auto 18px auto;
  width: 270px;
  height: 190px;
  border-radius: 90px;
  position: relative;
}

.main-container {
  text-align: center;
}

.time-sets {
  margin-top: -40px;
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}

.dual-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 650px;
  margin: auto;
  justify-items: center;
  align-items: center;
}
